html,
body,
#react-root {
  height: 100%;
}

.mainBody {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #a9a9a9;
  min-height: 100vh;
  background-size: cover;
  overflow: auto;
}

.formPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginHeader {
  margin-bottom: 10px;
}