html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.formPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginHeader {
  margin-bottom: 10px;
}